<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.common.activity.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".login.forget.verify.newpassword.succeed.Login_SucceedActivity" />
        <activity android:name=".login.forget.verify.newpassword.Login_NewPasswordActivity" />
        <activity android:name=".login.forget.verify.Login_VerifyActivity" />
        <activity android:name=".login.forget.Login_ForgetActivity" />
        <activity android:name=".login.Login_LoginActivity" />
        <activity
            android:name=".Login_MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>